.container{
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.main{
    width: 100%;
    position: relative;
    min-height: 38vh;
    background-image: url("../images/bg-main-mobile.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-cards-wrapper{
    display: flex;
    flex-direction: column;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 61%;
    top: 80%;
    gap: 0;
}

.bg-card-back-wrapper,
.bg-card-front-wrapper{
    position:relative;
    width: 16rem;
}

.bg-card-back-wrapper{
    right: 0;
    top: 0;
}

.bg-card-back__p{
    position: absolute;
    top: 3.7rem;
    right: 1.8rem;
    color: var(--clr-lightGrayishViolet);
    font-size: var(--size-xs);
}

.bg-card-front-wrapper{
    z-index: 100;
    left: 0;
    top: 0;
    transform: translateY(-50px) translateX(-50px); 
}

.front-card_content{
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.bg-card__logo{
    width: 50px;
    position: absolute;
    top: 1rem;
    left: 1rem;
}

.bg-card__number{
    position: absolute;
    top: 4rem;
    left: 1rem;
    display: inline;
    color: var(--clr-lightGrayishViolet);
    letter-spacing: 0.08rem;
    font-size: var(--size-sm);
}

.bg-card__cardholder-name{
    position: absolute;
    bottom: 0.5rem;
    left: 1rem;
    color: var(--clr-lightGrayishViolet);
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 0rem;
}

.bg-card__exp-date{
    position: absolute;
    bottom: 0.5rem;
    right: 1rem;
    color: var(--clr-lightGrayishViolet);
    font-size: 10px;
    letter-spacing: 0rem;
}


@media (min-width:375px) {
    .container{
        gap: 7rem;
    }
}    


@media (min-width:1024px) and (max-height: 1024px) {
   .container{
    flex-direction: row;
    gap: 1rem;
}

.main{
    width: 40%;
    position: relative;
    background-image: url("../images/bg-main-desktop.png");  
}

.bg-cards-wrapper{
    top: 50%;
    left: 100%;
    flex-direction: column-reverse;
    gap: 2rem;
}

.bg-card-back-wrapper,
.bg-card-front-wrapper{
    position:relative;
    width: 15rem;
}

.bg-card-back-wrapper{
    z-index: 99;
    left: 0;
    top: 0;
}

.bg-card-back__p{
    position: absolute;
    top: 3.3rem;
    right: 1.5rem;
    color: var(--clr-lightGrayishViolet);
    font-size: var(--size-base);
}

.bg-card-front-wrapper{
    z-index: 100;
     left: 0;
    top: 0; 
    transform: translateY(0) translateX(-100px); 
}

.front-card_content{
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.bg-card__logo{
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
}

.bg-card__number{
    position: absolute;
    top: 4.2rem;
    left: 1rem;
    display: inline;
    color: var(--clr-lightGrayishViolet);
    letter-spacing: 0.25rem;
    font-size: var(--size-xs);
}

.bg-card__cardholder-name{
    position: absolute;
    bottom: 0.6rem;
    left: 1rem;
    color: var(--clr-lightGrayishViolet);
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 0.01rem;
}

.bg-card__exp-date{
    position: absolute;
    bottom: 0.6rem;
    right: 1rem;
    color: var(--clr-lightGrayishViolet);
    font-size: 10px;
    letter-spacing: 0.01rem;
}
}
